* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Sunergy;
  src: url(../public/fonts/Avenir-Black.ttf);
}

@font-face {
  font-family: SunergyOblique;
  src: url(../public/fonts/Avenir-BlackOblique.ttf);
}

body,
html {
  height: 100%;
  background-color: #9a9090;
}

main{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

header {
  font-family: SunergyOblique;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: solid #000;
  background-color: #333;
  color: #fff;
  height: 113px;
}

a {
  color: #fff;
  text-decoration: none;
}

.weather,
.teamLogo .clock {
  margin: 0;
}

.teamLogo {
  font-weight: bold;
  font-size: 3em;
  margin-top: 15px;
  margin-left: 10px;
}

.sunergy {
  color: #ffd700;
}

.clock {
  font-family: Sunergy;
  font-size: 3.5em;
  margin-top: 10px;
  margin-right: 10px;
}

.clock span {
  padding: 0 2px;
}

main {
  display: flex;
  flex: 1;
  padding: 20px;
  padding-bottom: 0px;
  font-family: Sunergy;
  overflow: hidden;
}

.scoreCalculator,
.weatherWidget{
  width: 100%;
  height: 100%;
  max-width: 300px;
  height: 650px;
}

.scoreCalculator {
  background-color: #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  border: solid;
  border-radius: 12px;
}

.scoreCalculator label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.scoreCalculator input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.scoreCalculator h3{
  font-size: 1.75em;
  margin-bottom: 5px;
}

.result {
  height: 30px;
  font-size: 2em;
  font-weight: bold;
  color: #11b445;
}

.weatherWidget {
  background-color: #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  border: solid;
  border-radius: 12px;
}

.weatherInput {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.weatherInput input {
  width: calc(100% - 100px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.weatherInput button {
  width: 80px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.weatherInfo {
  text-align: center;
  font-family: Sunergy;
}

.weatherInfo h2 {
  font-size: 2.5em;
  color: #333;
}

.weatherInfo h3 {
  font-size: 3em;
  color: #333;
}

.weatherInfo p {
  font-size: 1.4em;
  color: #636363;
  margin-bottom: 5px;
}

.liveData {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: auto;
  width: 100%;
  padding-top: 25px;
}

.status{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 20px;
  padding-bottom: 0;
  height: 110%;
}

.statusCol1,
.statusCol2{
  background-color: #ddd;
  border: solid;
  border-radius: 12px;
  padding-top: 25px;
  height: 100%;
  overflow: hidden;
}

.status p{
  font-size: 2.5em;
  text-align: center;
}

.mppt{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 70px;
  height: 100%;
}

.mpptSection,
.motorSection {
  margin: auto;
  width: 100%;
  padding: 20px;
  border: solid;
  border-radius: 12px;
  text-align: center;
  background-color: #ddd;
  overflow: hidden;
  
}

.mpptSection h4,
.motorSection h4 {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.mpptSection p,
.motorSection p{
  font-size: 1.5em;
  color: #636363;
}

.footer {
  width: calc(100% + 1280px); /* Increase the width by 40px (20px on each side) */
  height: 150px;
  border-top: solid #000;
  background-color: #333;
  text-align: center;
  line-height: 60px;
  font-family: Sunergy;
  margin-left: -640px; /* Move it 20px to the left */
  margin-right: -640px; /* Move it 20px to the right */
  z-index: 2;
}

.errorMessage {
  padding-top: 10px;
  font-size: 2.25em;
  color: #d40028;
}

/* Responsive Design */
@media (min-width: 768px) {
  main {
    flex-direction: row;
  }

  .liveData {
    padding-left: 20px;
    padding-right: 20px;
  }

  .status,
  .mppt {
    width: 100%;
  }
}